<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog</title>
    <link rel="stylesheet" href="styles/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Protest+Riot&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/post">Create Post</a>
        <a href="/contact">Contact</a>
    </div>

    <div class="posts">
        <% if(locals.blogList) { %>
            <% blogList.forEach(post => { %>
                <p><%= post.title %></p>
                <p><%= post.content %></p><br>
            <% }) %>
        <% } else { %>
            <h1 id="emptyBlog">There is no posted blog yet! Let's create now!🤟</h1>
        <% } %>
    </div>
    
</body>
</html>
